@import '../fonts/fonts.less';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0ms;
  font-family: 'PingFang'!important;
}
#nprogress .bar {
  background: #4647FF!important;
  height: 1px!important;
  // transform: scaleX(0.1);
}
#nprogress .peg{
  box-shadow:0 0 10px #4647FF
}
#nprogress .spinner{
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}
#nprogress .spinner-icon{
  border-top-color:#4647FF;
  border-left-color:#4647FF;
}

html,body{
  background: #f7f7f7;
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}
.blod {
  font-weight: bold;
}
.hover {
  &:hover {
    transform: scale(1.01);
    transition: all 200ms;
  }
}

